{
  "openapi": "3.0.0",
  "x-codegen": {
    "repositoryName": "ed-fi-core",
    "defaultRoute": "api/v1/[controller]",
    "rootNamespace": "EdFiCore",
    "contextName": "EdFiCoreDbContext",
    "supervisorName": "EdFiCoreSupervisor",
    "primaryKeyType": "Guid",
    "outputDir": "S:\\stage\\temp\\",
    "addPrimaryKeyProperties": true,
    "addForeignKeyProperties": true,
    "addReverseNavigationProperties": true,
    "rootProjectName": "EdFiCore",
    "solutionName": "edficore",
    "databaseName": "EdFiCore"
  },
  "info": {
    "title": "Ed-Fi Operational Data Store API",
    "description": "The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface. The Ed-Fi ODS / API supports both transactional and bulk modes of operation. \n***\n > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.* \n***\n",
    "version": "3-oas3"
  },
  "servers": [
    {
      "url": "//api.ed-fi.org:443/v3.1.0/api/data/v3"
    }
  ],
  "security": [
    {
      "oauth2_client_credentials": []
    }
  ],
  "tags": [
    {
      "name": "academicWeeks",
      "description": "This entity represents the academic weeks for a school year, optionally captured to support analyses."
    },
    {
      "name": "accountabilityRatings",
      "description": "An accountability rating for a school or district."
    },
    {
      "name": "accountCodes",
      "description": "The set of account codes defined by an education organization for a fiscal year."
    },
    {
      "name": "accounts",
      "description": "This financial entity represents a funding source combined with its purpose and type of transaction. It provides a formal record of the debits and credits relating to the specific account."
    },
    {
      "name": "actuals",
      "description": "This financial entity represents the sum of the financial transactions to date relating to a specific account."
    },
    {
      "name": "applicants",
      "description": "This entity represents an individual who has applied for a position with any public or private education institution or agency."
    },
    {
      "name": "assessmentItems",
      "description": "This entity represents one of many single measures that make up an assessment."
    },
    {
      "name": "assessments",
      "description": "This entity represents a tool, instrument, process, or exhibition composed of a systematic sampling of behavior for measuring a student's competence, knowledge, skills, or behavior. An assessment can be used to measure differences in individuals or groups and changes in performance from one occasion to the next."
    },
    {
      "name": "bellSchedules",
      "description": "This entity represents the schedule of class period meeting times."
    },
    {
      "name": "budgets",
      "description": "This financial entity represents the amount of monies allocated to be spent or received by an education organization as related to a specific account."
    },
    {
      "name": "calendarDates",
      "description": "The type of scheduled or unscheduled event for the day."
    },
    {
      "name": "calendars",
      "description": "A set of dates associated with an organization."
    },
    {
      "name": "classPeriods",
      "description": "This entity represents the designation of a regularly scheduled series of class meetings at designated times and days of the week."
    },
    {
      "name": "cohorts",
      "description": "This entity represents any type of list of designated students for tracking, analysis, or intervention."
    },
    {
      "name": "communityOrganizations",
      "description": "This entity represents an administrative unit at the state level which exists primarily to operate local community providers."
    },
    {
      "name": "communityProviderLicenses",
      "description": "The legal document held by the CommunityProvider that authorizes the holder to perform certain functions and or services."
    },
    {
      "name": "communityProviders",
      "description": "This entity represents an educational organization that includes staff and students who participate in classes and educational activity groups."
    },
    {
      "name": "competencyObjectives",
      "description": "This entity holds additional competencies for student achievement that are not associated with specific learning objectives (e.g., paying attention in class)."
    },
    {
      "name": "contractedStaffs",
      "description": "This financial entity represents the sum of the financial transactions to date for contracted staff. ContractedStaff includes \"contractors\" or \"consultants\" who perform services for an agreed upon fee, or an employee of a management service contracted to work on site."
    },
    {
      "name": "courseOfferings",
      "description": "This entity represents an entry in the course catalog of available courses offered by the school during a session."
    },
    {
      "name": "courses",
      "description": "This educational entity represents the organization of subject matter and related learning experiences provided for the instruction of students on a regular or systematic basis."
    },
    {
      "name": "courseTranscripts",
      "description": "This entity is the final record of a student's performance in their courses at the end of a semester or school year."
    },
    {
      "name": "credentials",
      "description": "The legal document giving authorization to perform teaching assignment services."
    },
    {
      "name": "disciplineActions",
      "description": "This event entity represents actions taken by an education organization after a disruptive event that is recorded as a discipline incident."
    },
    {
      "name": "disciplineIncidents",
      "description": "This event entity represents an occurrence of an infraction ranging from a minor behavioral problem that disrupts the orderly functioning of a school or classroom (such as tardiness) to a criminal act that results in the involvement of a law enforcement official (such as robbery). A single event (e.g., a fight) is one incident regardless of how many perpetrators or victims are involved. Discipline incidents are events classified as warranting discipline action."
    },
    {
      "name": "educationContents",
      "description": "This entity represents materials for students or teachers that can be used for teaching, learning, research, and more. Education content includes full courses, course materials, modules, intervention descriptions, textbooks, streaming videos, tests, software, and any other tools, materials, or techniques used to support access to knowledge."
    },
    {
      "name": "educationOrganizationInterventionPrescriptionAssociations",
      "description": "This association indicates interventions made available by an education organization. Often, a district-level education organization purchases a set of intervention prescriptions and makes them available to its schools for use on demand."
    },
    {
      "name": "educationOrganizationNetworkAssociations",
      "description": "Properties of the association between the EducationOrganization and its network(s)."
    },
    {
      "name": "educationOrganizationNetworks",
      "description": "This entity is a self-organized membership network of peer-level education organizations intended to provide shared services or collective procurement."
    },
    {
      "name": "educationOrganizationPeerAssociations",
      "description": "The association from an education organization to its peers."
    },
    {
      "name": "educationServiceCenters",
      "description": "This entity represents a regional, multi-services public agency authorized by state law to develop, manage and provide services, programs, or other support options (e.g., construction, food services, and technology services) to LEAs."
    },
    {
      "name": "feederSchoolAssociations",
      "description": "The association from feeder school to the receiving school."
    },
    {
      "name": "gradebookEntries",
      "description": "This entity represents an assignment, homework, or classroom assessment to be recorded in a gradebook."
    },
    {
      "name": "grades",
      "description": "This educational entity represents an overall score or assessment tied to a course over a period of time (i.e., the grading period). Student grades are usually a compilation of marks and other scores."
    },
    {
      "name": "gradingPeriods",
      "description": "This entity represents the time span for which grades are reported."
    },
    {
      "name": "graduationPlans",
      "description": "This entity is a plan outlining the required credits, credits by subject, credits by course, and other criteria required for graduation. A graduation plan may be one or more standard plans defined by an education organization and/or individual plans for some or all students."
    },
    {
      "name": "interventionPrescriptions",
      "description": "This entity represents a formal prescription of an instructional approach focusing on the specific techniques and materials used to teach a given subject. This can be prescribed by academic research, an interventions vendor, or another entity."
    },
    {
      "name": "interventions",
      "description": "An implementation of an instructional approach focusing on the specific techniques and materials used to teach a given subject."
    },
    {
      "name": "interventionStudies",
      "description": "An experimental or quasi-experimental study of an intervention technique."
    },
    {
      "name": "learningObjectives",
      "description": "This entity represents identified learning objectives for courses in specific grades."
    },
    {
      "name": "learningStandards",
      "description": "This entity is a sub-element of a learning objective consisting of a precise statement of the expectation of a student's proficiency."
    },
    {
      "name": "localEducationAgencies",
      "description": "This entity represents an administrative unit at the local level which exists primarily to operate schools or to contract for educational services. It includes school districts, charter schools, charter management organizations, or other local administrative organizations."
    },
    {
      "name": "locations",
      "description": "This entity represents the physical space where students gather for a particular class/section. The Location may be an indoor or outdoor area designated for the purpose of meeting the educational needs of students."
    },
    {
      "name": "objectiveAssessments",
      "description": "This entity represents subtests that assess specific learning objectives."
    },
    {
      "name": "openStaffPositions",
      "description": "This entity represents an open staff position that the education organization is seeking to fill."
    },
    {
      "name": "parents",
      "description": "This entity represents a parent or guardian of a student, such as mother, father, or caretaker."
    },
    {
      "name": "payrolls",
      "description": "This financial entity represents the sum of the financial transactions to date for employee compensation. An \"employee\" who performs services under the direction of the employing institution or agency, is compensated for such services by the employer and is eligible for employee benefits and wage or salary tax withholdings."
    },
    {
      "name": "postSecondaryEvents",
      "description": "This entity captures significant postsecondary events during a student's high school tenure (e.g., FAFSA application or college application, acceptance, and enrollment) or during a student's enrollment at a post-secondary institution."
    },
    {
      "name": "postSecondaryInstitutions",
      "description": "An organization that provides educational programs for individuals who have completed or otherwise left educational programs in secondary school(s)."
    },
    {
      "name": "programs",
      "description": "This entity represents any program designed to work in conjunction with, or as a supplement to, the main academic program. Programs may provide instruction, training, services, or benefits through federal, state, or local agencies. Programs may also include organized extracurricular activities for students."
    },
    {
      "name": "reportCards",
      "description": "This educational entity represents the collection of student grades for courses taken during a grading period."
    },
    {
      "name": "restraintEvents",
      "description": "This event entity represents the instances where a special education student was physically or mechanically restrained due to imminent serious physical harm to themselves or others, imminent serious property destruction or a combination of both imminent serious physical harm to themselves or others and imminent serious property destruction."
    },
    {
      "name": "schools",
      "description": "This entity represents an educational organization that includes staff and students who participate in classes and educational activity groups."
    },
    {
      "name": "schoolYearTypes",
      "description": "Identifier for a school year."
    },
    {
      "name": "sectionAttendanceTakenEvents",
      "description": "Captures attendance taken event for given section."
    },
    {
      "name": "sections",
      "description": "This entity represents a setting in which organized instruction of course content is provided, in-person or otherwise, to one or more students for a given period of time. A course offering may be offered to more than one section."
    },
    {
      "name": "sessions",
      "description": "A term in the school year, generally a unit of time into which courses are scheduled, instruction occurs and by which credits are awarded. Sessions may be interrupted by vacations or other events."
    },
    {
      "name": "staffAbsenceEvents",
      "description": "This event entity represents the recording of the dates of staff absence."
    },
    {
      "name": "staffCohortAssociations",
      "description": "This association indicates the Staff associated with a cohort of students."
    },
    {
      "name": "staffEducationOrganizationAssignmentAssociations",
      "description": "This association indicates the education organization to which a staff member provides services; also known as school of service."
    },
    {
      "name": "staffEducationOrganizationContactAssociations",
      "description": "This association provides the contact information of the staff associated with the education organization."
    },
    {
      "name": "staffEducationOrganizationEmploymentAssociations",
      "description": "This association indicates the EducationOrganization an employee, contractor, volunteer, or other service provider is formally associated with typically indicated by which organization the staff member has a services contract with or receives compensation from."
    },
    {
      "name": "staffLeaves",
      "description": "This entity represents the recording of the dates of staff leave (e.g., sick leave, personal time, vacation)."
    },
    {
      "name": "staffProgramAssociations",
      "description": "This association indicates the Staff associated with a program."
    },
    {
      "name": "staffs",
      "description": "This entity represents an individual who performs specified activities for any public or private education institution or agency that provides instructional and/or support services to students or staff at the early childhood level through high school completion. For example, this includes:\r\n    1. An \"employee\" who performs services under the direction of the employing institution or agency is compensated for such services by the employer and is eligible for employee benefits and wage or salary tax withholdings\r\n    2. A \"contractor\" or \"consultant\" who performs services for an agreed upon fee or an employee of a management service contracted to work on site\r\n    3. A \"volunteer\" who performs services on a voluntary and uncompensated basis\r\n    4. An in-kind service provider\r\n    5. An independent contractor or businessperson working at a school site."
    },
    {
      "name": "staffSchoolAssociations",
      "description": "This association indicates the School(s) to which a staff member provides instructional services."
    },
    {
      "name": "staffSectionAssociations",
      "description": "This association indicates the class sections to which a staff member is assigned."
    },
    {
      "name": "stateEducationAgencies",
      "description": "This entity represents the agency of the state charged with the primary responsibility for coordinating and supervising public instruction, including the setting of standards for elementary and secondary instructional programs."
    },
    {
      "name": "studentAcademicRecords",
      "description": "This educational entity represents the cumulative record of academic achievement for a student."
    },
    {
      "name": "studentAssessments",
      "description": "This entity represents the analysis or scoring of a student's response on an assessment. The analysis results in a value that represents a student's performance on a set of items on a test."
    },
    {
      "name": "studentCohortAssociations",
      "description": "This association represents the Cohort(s) for which a student is designated."
    },
    {
      "name": "studentCompetencyObjectives",
      "description": "This entity represents the competency assessed or evaluated for the student against a specific learning  objective."
    },
    {
      "name": "studentCTEProgramAssociations",
      "description": "This association represents the career and technical education (CTE) program that a student participates in. The association is an extension of the StudentProgramAssociation particular for CTE programs."
    },
    {
      "name": "studentDisciplineIncidentAssociations",
      "description": "This association indicates those students who were victims, perpetrators, witnesses, and reporters for a discipline incident."
    },
    {
      "name": "studentEducationOrganizationAssociations",
      "description": "This association represents student information that is specific to a student's relationship with an EducationOrganization. Enrollment relationship semantics are covered by StudentSchoolAssociation."
    },
    {
      "name": "studentEducationOrganizationResponsibilityAssociations",
      "description": "This association indicates any relationship between a student and an education organization other than how the state views enrollment. Enrollment relationship semantics are covered by StudentSchoolAssociation."
    },
    {
      "name": "studentGradebookEntries",
      "description": "This entity holds a student's grade or competency level for a gradebook entry."
    },
    {
      "name": "studentHomelessProgramAssociations",
      "description": "This association represents the McKinney-Vento Homeless Program program(s) that a student participates in or from which the Student receives services."
    },
    {
      "name": "studentInterventionAssociations",
      "description": "This association indicates the students participating in an intervention."
    },
    {
      "name": "studentInterventionAttendanceEvents",
      "description": "This event entity represents the recording of whether a student is in attendance for an intervention service."
    },
    {
      "name": "studentLanguageInstructionProgramAssociations",
      "description": "This association represents the Title III Language Instruction for Limited English Proficient and Immigrant Students program(s) that a student participates in or from which the Student receives services."
    },
    {
      "name": "studentLearningObjectives",
      "description": "This entity represents the competency assessed or evaluated for the student against a specific LearningObjective."
    },
    {
      "name": "studentMigrantEducationProgramAssociations",
      "description": "This association represents the migrant education program(s) that a student participates in or receives services from. The association is an extension of the StudentProgramAssociation with added elements particular to migrant education programs."
    },
    {
      "name": "studentNeglectedOrDelinquentProgramAssociations",
      "description": "This association represents the Title I Part D Neglected or Delinquent program(s) that a student participates in or from which the Student receives services."
    },
    {
      "name": "studentParentAssociations",
      "description": "This association relates students to their parents, guardians, or caretakers."
    },
    {
      "name": "studentProgramAssociations",
      "description": "This association represents the Program(s) that a student participates in or is served by."
    },
    {
      "name": "studentProgramAttendanceEvents",
      "description": "This event entity represents the recording of whether a student is in attendance to receive or participate in program services."
    },
    {
      "name": "students",
      "description": "This entity represents an individual for whom instruction, services, and/or care are provided in an early childhood, elementary, or secondary educational program under the jurisdiction of a school, education agency or other institution or program. A student is a person who has been enrolled in a school or other educational institution."
    },
    {
      "name": "studentSchoolAssociations",
      "description": "This association represents the School in which a student is enrolled. The semantics of enrollment may differ slightly by state. Non-enrollment relationships between a student and an education organization may be described using the StudentEducationOrganizationAssociation."
    },
    {
      "name": "studentSchoolAttendanceEvents",
      "description": "This event entity represents the recording of whether a student is in attendance for a school day."
    },
    {
      "name": "studentSchoolFoodServiceProgramAssociations",
      "description": "This association represents the school food services program(s), such as the Free or Reduced Lunch Program, that a student participates in or from which the Student receives services."
    },
    {
      "name": "studentSectionAssociations",
      "description": "This association indicates the course sections to which a student is assigned."
    },
    {
      "name": "studentSectionAttendanceEvents",
      "description": "This event entity represents the recording of whether a student is in attendance for a section."
    },
    {
      "name": "studentSpecialEducationProgramAssociations",
      "description": "This association represents the special education program(s) that a student participates in or receives services from. The association is an extension of the StudentProgramAssociation particular for special education programs."
    },
    {
      "name": "studentTitleIPartAProgramAssociations",
      "description": "This association represents the Title I Part A program(s) that a student participates in or from which the Student receives services. The association is an extension of the StudentProgramAssociation particular for Title I Part A programs."
    }
  ],
  "paths": {
    "/ed-fi/academicWeeks": {
      "get": {
        "tags": [ "academicWeeks" ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAcademicWeeks",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates how many items should be skipped before returning results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "totalCount",
            "in": "query",
            "description": "Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "weekIdentifier",
            "in": "query",
            "description": "The school label for the week.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 80,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "schoolId",
            "in": "query",
            "description": "The identifier assigned to a school.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "beginDate",
            "in": "query",
            "description": "The start date for the academic week.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for the academic week.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalInstructionalDays",
            "in": "query",
            "description": "The total instructional days during the academic week.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/academicWeek"
                  }
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "post": {
        "tags": [ "academicWeeks" ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.",
        "operationId": "postAcademicWeek",
        "requestBody": {
          "$ref": "#/components/requestBodies/academicWeek"
        },
        "responses": {
          "201": {
            "description": "The resource was created.  An ETag value is available in the ETag header, and the location of the resource is available in the Location header of the response."
          },
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/academicWeeks/{id}": {
      "get": {
        "tags": [ "academicWeeks" ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAcademicWeeksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/academicWeek"
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "put": {
        "tags": [ "academicWeeks" ],
        "summary": "Updates or creates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.",
        "operationId": "putAcademicWeek",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/academicWeek"
        },
        "responses": {
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "delete": {
        "tags": [ "academicWeeks" ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAcademicWeekById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accounts": {
      "get": {
        "tags": [ "accounts" ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates how many items should be skipped before returning results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "totalCount",
            "in": "query",
            "description": "Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "The alphanumeric string that identifies the account.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "fiscalYear",
            "in": "query",
            "description": "The financial accounting year.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "accountName",
            "in": "query",
            "description": "A descriptive name for the account.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/account"
                  }
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "post": {
        "tags": [ "accounts" ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.",
        "operationId": "postAccount",
        "requestBody": {
          "$ref": "#/components/requestBodies/account"
        },
        "responses": {
          "201": {
            "description": "The resource was created.  An ETag value is available in the ETag header, and the location of the resource is available in the Location header of the response."
          },
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accounts/{id}": {
      "get": {
        "tags": [ "accounts" ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAccountsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "put": {
        "tags": [ "accounts" ],
        "summary": "Updates or creates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.",
        "operationId": "putAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/account"
        },
        "responses": {
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "delete": {
        "tags": [ "accounts" ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAccountById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings": {
      "get": {
        "tags": [ "accountabilityRatings" ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAccountabilityRatings",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates how many items should be skipped before returning results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "totalCount",
            "in": "query",
            "description": "Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ratingTitle",
            "in": "query",
            "description": "The title of the rating (e.g., School Rating, Safety Score).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 60,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "schoolYear",
            "in": "query",
            "description": "The school year for which the AccountabilityRating is assessed.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "description": "An accountability rating level, designation, or assessment.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "ratingDate",
            "in": "query",
            "description": "The date the rating was awarded.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ratingOrganization",
            "in": "query",
            "description": "The organization that assessed the rating.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "ratingProgram",
            "in": "query",
            "description": "The program associated with the AccountabilityRating (e.g., NCLB, AEIS).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 30,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accountabilityRating"
                  }
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "post": {
        "tags": [ "accountabilityRatings" ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.",
        "operationId": "postAccountabilityRating",
        "requestBody": {
          "$ref": "#/components/requestBodies/accountabilityRating"
        },
        "responses": {
          "201": {
            "description": "The resource was created.  An ETag value is available in the ETag header, and the location of the resource is available in the Location header of the response."
          },
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accountabilityRatings/{id}": {
      "get": {
        "tags": [ "accountabilityRatings" ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAccountabilityRatingsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountabilityRating"
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "put": {
        "tags": [ "accountabilityRatings" ],
        "summary": "Updates or creates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.",
        "operationId": "putAccountabilityRating",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/accountabilityRating"
        },
        "responses": {
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "delete": {
        "tags": [ "accountabilityRatings" ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAccountabilityRatingById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accountCodes": {
      "get": {
        "tags": [ "accountCodes" ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getAccountCodes",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates how many items should be skipped before returning results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "totalCount",
            "in": "query",
            "description": "Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "accountClassificationDescriptor",
            "in": "query",
            "description": "The type of account code associated with the account.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 306,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "accountCodeNumber",
            "in": "query",
            "description": "An account code defined for the education accounting system by the education organization.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "fiscalYear",
            "in": "query",
            "description": "The financial accounting year.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "accountCodeDescription",
            "in": "query",
            "description": "A description of the account code.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 1024,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accountCode"
                  }
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "post": {
        "tags": [ "accountCodes" ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.",
        "operationId": "postAccountCode",
        "requestBody": {
          "$ref": "#/components/requestBodies/accountCode"
        },
        "responses": {
          "201": {
            "description": "The resource was created.  An ETag value is available in the ETag header, and the location of the resource is available in the Location header of the response."
          },
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/accountCodes/{id}": {
      "get": {
        "tags": [ "accountCodes" ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getAccountCodesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountCode"
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "put": {
        "tags": [ "accountCodes" ],
        "summary": "Updates or creates a resource based on the resource identifier.",
        "description": "The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.",
        "operationId": "putAccountCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the PUT from updating a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/accountCode"
        },
        "responses": {
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "delete": {
        "tags": [ "accountCodes" ],
        "summary": "Deletes an existing resource using the resource identifier.",
        "description": "The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).",
        "operationId": "deleteAccountCodeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was successfully deleted."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/actuals": {
      "get": {
        "tags": [ "actuals" ],
        "summary": "Retrieves specific resources using the resource's property values (using the \"Get\" pattern).",
        "description": "This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).",
        "operationId": "getActuals",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates how many items should be skipped before returning results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the maximum number of items that should be returned in the results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxItems": 100,
              "minItems": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "totalCount",
            "in": "query",
            "description": "Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "asOfDate",
            "in": "query",
            "description": "The date of the reported actual element.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "accountIdentifier",
            "in": "query",
            "description": "The alphanumeric string that identifies the account.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "educationOrganizationId",
            "in": "query",
            "description": "The identifier assigned to an education organization.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "fiscalYear",
            "in": "query",
            "description": "The financial accounting year.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-Ed-Fi-isIdentity": true
          },
          {
            "name": "amountToDate",
            "in": "query",
            "description": "Current balance for the account.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/actual"
                  }
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "404": {
            "description": "The resource could not be found."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      },
      "post": {
        "tags": [ "actuals" ],
        "summary": "Creates or updates resources based on the natural key values of the supplied resource.",
        "description": "The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.",
        "operationId": "postActual",
        "requestBody": {
          "$ref": "#/components/requestBodies/actual"
        },
        "responses": {
          "201": {
            "description": "The resource was created.  An ETag value is available in the ETag header, and the location of the resource is available in the Location header of the response."
          },
          "204": {
            "description": "The resource was updated.  An updated ETag value is available in the ETag header of the response."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
            "description": "Unauthorized. The request requires authentication. The OAuth bearer token was either not provided or is invalid. The operation may succeed once authentication has been successfully completed."
          },
          "403": {
            "description": "Forbidden. The request cannot be completed in the current authorization context. Contact your administrator if you believe this operation should be allowed."
          },
          "409": {
            "description": "Conflict.  The request cannot be completed because it would result in an invalid state.  See the response body for details."
          },
          "412": {
            "description": "The resource's current server-side ETag value does not match the supplied If-Match header value in the request. This indicates the resource has been modified by another consumer."
          },
          "500": {
            "description": "An unhandled error occurred on the server. See the response body for details."
          }
        }
      }
    },
    "/ed-fi/actuals/{id}": {
      "get": {
        "tags": [ "actuals" ],
        "summary": "Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).",
        "description": "This GET operation retrieves a resource by the specified resource identifier.",
        "operationId": "getActualsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A resource identifier that uniquely identifies the resource.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested resource was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/actual"
                }
              }
            }
          },
          "304": {
            "description": "The resource's current server-side ETag value matched the If-None-Match header value supplied with the request indicating the resource has not been modified."
          },
          "400": {
            "description": "Bad Request. The request was invalid and cannot be completed. See the response body for specific validation errors. This will typically be an issue with the query parameters or their values."
          },
          "401": {
[...]
